* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    background-color: red;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  div {
    my: 15px;
    padding: 25px;
    border: 1px solid black;
  }

@media (min-width: 300px) and (max-width: 768px) {
    body {
      background-color: green;
    }

    #medium {
      display: block;
    }

    #small, #large {
      display: none;
    }

    h1 {
      font-size: 35px;
    }

    p {
      font-size: 20px;
    }

  }

  @media (min-width: 768px) {
      body {
          background-color: blue;
      }

      #large {
        display: block;
      }

      #medium, #small {
        display: none;
      }

      h1 {
        font-size: 50px;
      }

      p {
        font-size: 25px;
      }
  } 